<div>
  <mat-form-field appearance="fill">
    <mat-label>Filter elements</mat-label>
    <input
      matInput
      [formControl]="filterControl"
      placeholder="Filter by any field"
    />
  </mat-form-field>

  <table mat-table [dataSource]="filteredData" class="mat-elevation-z8">
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef>Position</th>
      <td mat-cell *matCellDef="let element">
        <span *ngIf="!editing[element.position]?.['position']">{{
          element.position
        }}</span>
        <input
          *ngIf="editing[element.position]?.['position']"
          matInput
          [value]="element.position"
          (blur)="saveEdit(element, 'position', $event)"
        />
        <button
          mat-button
          *ngIf="!editing[element.position]?.['position']"
          (click)="enableEditing(element, 'position')"
          style="margin-left: 10px"
        >
          Edit
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let element">
        <span *ngIf="!editing[element.position]?.['name']">{{
          element.name
        }}</span>
        <input
          *ngIf="editing[element.position]?.['name']"
          matInput
          [value]="element.name"
          (blur)="saveEdit(element, 'name', $event)"
        />
        <button
          mat-button
          *ngIf="!editing[element.position]?.['name']"
          (click)="enableEditing(element, 'name')"
          style="margin-left: 10px"
        >
          Edit
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="weight">
      <th mat-header-cell *matHeaderCellDef>Weight</th>
      <td mat-cell *matCellDef="let element">
        <span *ngIf="!editing[element.position]?.['weight']">{{
          element.weight
        }}</span>
        <input
          *ngIf="editing[element.position]?.['weight']"
          matInput
          [value]="element.weight"
          (blur)="saveEdit(element, 'weight', $event)"
          type="number"
        />
        <button
          mat-button
          *ngIf="!editing[element.position]?.['weight']"
          (click)="enableEditing(element, 'weight')"
          style="margin-left: 10px"
        >
          Edit
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="symbol">
      <th mat-header-cell *matHeaderCellDef>Symbol</th>
      <td mat-cell *matCellDef="let element">
        <span *ngIf="!editing[element.position]?.['symbol']">{{
          element.symbol
        }}</span>
        <input
          *ngIf="editing[element.position]?.['symbol']"
          matInput
          [value]="element.symbol"
          (blur)="saveEdit(element, 'symbol', $event)"
        />
        <button
          mat-button
          *ngIf="!editing[element.position]?.['symbol']"
          (click)="enableEditing(element, 'symbol')"
          style="margin-left: 10px"
        >
          Edit
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
